# Data Handling with pandas 2

In [42]:
import pandas as pd

In [43]:
 data=pd.read_csv('Final_data.csv')

In [44]:
select_data=data[['Age','Gender','Weight (kg)','protein_per_kg']]

In [45]:
over60kg=select_data[select_data['Weight (kg)']>60]

In [46]:
over60kg

         Age  Gender  Weight (kg)  protein_per_kg
0      34.91    Male        65.27        1.624789
3      38.69  Female        93.78        0.862017
5      53.19  Female       105.05        0.646549
7      55.92  Female        84.07        1.253836
8      24.11  Female        88.58        0.783924
...      ...     ...          ...             ...
19992  28.59  Female        68.43        1.200058
19993  28.52  Female        87.72        1.297424
19994  39.38    Male        64.13        1.939498
19995  46.77  Female        98.31        0.954837
19996  40.38  Female        88.12        0.689060

[14169 rows x 4 columns]

In [47]:
over60kg.to_csv('over_kg.csv',index=False)
print("Filtered datasaved to 'over_kg.csv'")

Filtered datasaved to 'over_kg.csv'

In [48]:
 overdata=pd.read_csv('over_kg.csv')

In [49]:
display(overdata)

         Age  Gender  Weight (kg)  protein_per_kg
0      34.91    Male        65.27        1.624789
1      38.69  Female        93.78        0.862017
2      53.19  Female       105.05        0.646549
3      55.92  Female        84.07        1.253836
4      24.11  Female        88.58        0.783924
...      ...     ...          ...             ...
14164  28.59  Female        68.43        1.200058
14165  28.52  Female        87.72        1.297424
14166  39.38    Male        64.13        1.939498
14167  46.77  Female        98.31        0.954837
14168  40.38  Female        88.12        0.689060

[14169 rows x 4 columns]